//description
include ../mixins/btn.pug
section.description
  .wrapper
    h2.section-title
      |Les portes-bateaux
  .description__content
    .wrapper
      .description__exp
        p(class="description__text description__text--bold")
          |Nous transportons vos bateaux depuis bientôt 50 ans sous les marques Satellite, Océane, Rocca et Nautilus.
        p(class="description__text")
          |Nos marques s’inscrivent dans cette tradition historique à l’écoute des professionnels et confortent au quotidien leur image de leaders techniques. Dotées d’un design élégant, d’une construction de grande qualité, nos remorques intègrent les solutions techniques les plus abouties pour faciliter le transport et la manutention de votre bateau en toute sécurité.
        +btn("Découvrez nos produits")(class="btn--descr")
      .description__carusel
        .description__img
        .description__price
          span.description__before
          p.description__name Remorque Nautilus
          
