//intro
section.intro
  .wrapper
    h1.intro__title
      span.intro__note N<i>°</i>1
      span.intro__exp
        |Des remorques porte-bateau en&nbsp;france  
    button(type="button" class="intro__btn")  
