include ../mixins/product-item.pug
//leasing
section.leasing
  .wrapper
    h2.section-title
      |Location
      a.section-title__link(href="#")
        |Voir toutes nos locations
    .leasing__items
      +product-item("Jet Satellite", "calque_28.png")
      +product-item("Motorboat Satellite", "calque_29.png")
      +product-item("Sailing and keel boat", "calque_30.png")
      
