include ../mixins/svg-icon.pug
footer.main-footer
  .wrapper
    div(class="main-footer__row")
      .logo
        | Espace 
        span Nautique
      form.main-footer__form
        input(type="text" placeholder="Votre email")
        button(type="submit")
          +icon('Recherche', 'main-header__search-icon')
    div(class="main-footer__row main-footer__row--nav")
      .main-footer__nav
        h4 Porte Bateau
        ul
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
      .main-footer__nav
        h4 Quickflex
        ul
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
      .main-footer__nav
        h4 Location / Service
        ul
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
      .main-footer__nav
        h4 Entretien
        ul
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
      .main-footer__nav
        h4 Qui sommes-nous
        ul
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
          li
            a(href="#") Lorem ipsum
    div(class="main-footer__row")
      div.main-footer__detail
        a(href="#") Plan du site
      div.main-footer__detail
        a(href="#") Mentiones légales
      div.main-footer__detail
        a(href="#") Contact
          
