- var menu = { 'Portes-Bateaux': '#', 'Quickflex': '#', 'Location / Service':'', 'Entretien':'', 'Qui sommes-nous ?':''};
include ../mixins/svg-icon.pug
header.main-header
  .main-header__top
    .wrapper
      a.main-header__ext-link(href="#")
        i
        |golgoth-store.com
      .main-header__control
        a.main-header__phone(href="#")
          +icon('Contact', 'main-header__phone-icon')
        .main-header__lang
          a(href="#" class="main-header__lang-item main-header__lang-item--active") FR
          a(href="#" class="main-header__lang-item") EN
          a(href="#" class="main-header__lang-item") IT
  .main-header__content
    .wrapper
      .main-header__info
        .main-header__logo
          div(class="logo logo--big")
            | Espace 
            span Nautique
        .main-header__user
          a(href="#") 
            +icon('Profil', 'main-header__user-icon')
          a(href="#")
            +icon('Panier', 'main-header__basket-icon')
            span.main-header__count 0
      .main-header__nav
        include main-nav.pug
        form.main-header__search(action="/" method="GET")
          input(type=text placeholder="Vous cherchez...")
          button(type="submit")
            +icon('Recherche', 'main-header__search-icon')
  
  
  
