doctype html
html
  - var pageTitle = "Insert Page Name"
  include includes/head.pug
  
  
  body
    include includes/main-header.pug  
    include includes/intro.pug
    include includes/description.pug
    include includes/leasing.pug
    
    include includes/main-footer.pug
    
  

  
