doctype html
html
  - var pageTitle = "Insert Page Name"
  include includes/head.pug
  
  
  body
    include includes/main-header.pug  
    //Main content
  
    include includes/main-footer.pug
    
  

  
