doctype html
html
  - var pageTitle = "Insert Page Name"
  include includes/head.pug
  
  
  body
    include includes/main-header.pug  
    include includes/intro.pug
    include includes/description.pug
    include includes/leasing.pug
    
    include includes/main-footer.pug
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript")
    script(src="scripts/main.min.js")

  

  
